.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.paginationItems {
  border: 2px solid var(--btnActionsSave);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  list-style: none;
}

.paginationItems a {
  padding: 0.3rem 0.6rem;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--btnActionsSave);
  border-radius: 0.2rem;
  font-size: 0.9rem;
  margin: 0 0.5rem;
  transition: 0.2s;
  text-decoration: none;
}

.paginationItems a:hover {
  background-color: var(--btnActionsSave);
  color: var(--text-color-link);
}

.paginationItems a.navigationDisable {
  color: var(--text-color-normal);
}

.paginationItems a.navigationDisable:hover {
  background-color: transparent;
  color: var(--text-color-normal);
}

.paginationItems p {
  padding: 0.2rem 0.4rem;
  display: inline;
  font-size: 0.9rem;
  margin: 0 0.5rem;
  color: var(--btnActionsSave);
}
