@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylelint-disable-next-line at-rule-no-unknown */
@layer components {
  .wait-load-pulse {
    @apply animate-pulse bg-gray-500 bg-opacity-20;
  }
}

:root {
  --max-width: 800px;
  --max-width-form: 500px;
  --max-width-modal: 400px;
  --z-modal: 50;
  --z-modal-message: 50;
  --z-btn-post: 40;
  --primary: #2d333b;
  --secondary: #3386d3;
  --primary-extra: #d85f5f;
  --primary-small: #a75fd1;
  --bg-page: #22272e;
  --bg-container: #2d333b;
  --background-description: #111;
  --text-color-in-darkness: #dedede;
  --text-color: #dedede;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

/* Remove highlight on click in buttons, inputs in mobile with cursor pointer */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

body {
  overflow-y: scroll;
}

html,
body {
  min-height: 100vh;
}

#root {
  height: 100%;
  min-height: 100vh;
}

