@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylelint-disable-next-line at-rule-no-unknown */
@layer components {
  .wait-load-pulse {
    @apply animate-pulse bg-gray-500 bg-opacity-20;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

/* Remove highlight on click in buttons, inputs in mobile with cursor pointer */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

body {
  overflow-y: scroll;
}

html,
body {
  min-height: 100vh;
}

#root {
  height: 100%;
  min-height: 100vh;
}

