.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--background);
  flex-direction: column;
  padding: 0 10%;
}

.container h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
  color: var(--light);
}

.container > div {
  padding: 80px 0;
  width: 100%;
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  background: var(--transparence-dark);
  padding: 20px 40px;
  width: 100%;
}

form h1 {

}

form p {
  word-wrap: break-word;
  color: var(--light);
  padding: 5px 10px;
  font-size: 1rem;
}

form label {
  color: var(--light);
  padding: 5px 10px;
}

form input {
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: 1px solid var(--danger);
}

form button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--light);
  font-size: 1rem;
  background: var(--warning-transparent);
  transition: 0.2s ease-in-out;
}

form button:hover {
  background: var(--warning);
}

form a {
  font-size: 1rem;
  color: var(--light);
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

form a:hover {
  color: var(--warning);
}
