.loadImage {
  display: block;
  padding: 20px 0px;
}

.loadImage p {
}

.loadImage .loadImageImg {
  position: relative;
  width: 350px;
  height: 300px;
  background: #dedede;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.loadImage .loadImageImg:hover {
  background: #d1d1d1;
}


.loadImage .loadImageImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loadImage .loadImageImg button {
  position: absolute;
  margin: 0;
}

.loadImage .loadImageImg .loadPrev {
  top: 50%;
  right: 0;
}

.loadImage .loadImageImg .loadNext {
  top: 50%;
  left: 0;
}
