
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav ul {
  padding: 10px 10px;
}

.nav ul a {
  text-decoration: none;
  padding: 10px 10px;
  color: var(--secundary);
  transition: 0.2s ease-in-out;
}

.nav a {
  border-bottom: 2px solid transparent;
 }

.nav .navActive {
 border-bottom: 2px solid var(--secundary);
}

.nav ul a:hover {
}
