.container {
  flex-direction: column;
}

.container > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.gridItem {
  height: 100%;
}
