.footer {
  padding: 1rem;
  background: #00000005;
}

.footer .boilerplate {
  text-align: center;
  font-size:0.9rem;
}

.footer .boilerplate span {
  color: var(--primary);
  font-size:0.9rem;
}

.footer .boilerplate a {
  font-size:0.9rem;
  color: var(--primary);
  text-decoration: none;
}
