.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--background);
  flex-direction: column;
  padding: 0 10%;
}

.container h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
  color: var(--dark);
}

.container > div {
  padding: 80px 0;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
