.modalItem {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  bottom: 10px;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 1px 5px 15px 1px var(--text-color-bold);
  left: 5vw;
  width: 90vw;
}

.modalItem .notfyIcon {
  padding-right: 10px;
  border-right: 1px solid var(--background-secundary);
}

.modalItem .notfyIcon i {
  color: var(--background-secundary);
  font-size: 2.5rem;
}

.modalItem p {
  width: 100%;
  text-align: left;
  flex: 1;
  font-size: 14px;
  color: var(--background-secundary);
  padding-left: 10px;
  word-wrap: break-all;
}

.modalItem button {
  background: transparent;
  border: 0;
  outline: none;
  padding: 10px;
  cursor: pointer;
}

.modalItem button i {
  color: var(--background-secundary);
  font-size: 16px;
}


@media screen and (min-width: 500px) {
  .modalItem {
  left: calc(50% - 200px);
  width: 400px;
  }
}
