:root {
  --max-width: 800px;

  --background-primary: #F5F1EF;
  --background-secundary: #FFFFFF;

  --text-color-bold: #000000;
  --text-color-bold-transparent: #00000022;
  --text-color-normal: #3E3E3E;

  --primary: #CB4367;
  --secundary: #438ACB;
  --purple: #CB43BD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

html, body {
  min-height: 100vh;
  overflow-y: scroll;
  background: var(--background-primary);
}

#root {
  height: 100%;
  min-height: 100vh;
}

/*Container e estrura básica*/
.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: var(--background-primary);
  flex-direction: column;
  padding: 2%;
  width: 100%;
  margin: 20px 0;
}

.container > div {
  max-width: var(--max-width);
  align-items: center;
  width: 100%;
  background: var(--background-secundary);
}

.container > div > h1 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--text-color-normal);
}

.container > div > .gridFull {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container > div > .gridFull > .grid {
  max-width: 150px;
  height: 300px;
  text-decoration: none;
  transition: 0.2s ease-out;
  margin-bottom: 50px;
}

.container > div > .gridFull > .grid img {
  max-width: 250px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-decoration: none;
  transition: 0.2s ease-out;
}

.container > div > .gridFull > .grid p {
  text-decoration: none;
  color: var(--text-color-bold);
  text-align: center;
}

.container > div > .gridFull > .grid:hover {
  transform: scale(1.05);
}

.container > div > .gridFull > .grid:hover img {
  box-shadow: 0 0 20px 1px var(--text-color-bold-transparent);
}
/*Container e estrura básica*/
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
}

 .form .instructionTop {
   display: flex;
   align-items: center;
   max-width: 400px;
   cursor: pointer;
   width: 100%;
}

.form .errorMsg {
  padding: 0;
  margin: 0;
  max-width: 400px;
  width: 100%;
  text-align: center;
  color: var(--primary);
}

.form .instructionTop p {
  flex: 1;
  font-size: 14px;
  word-wrap: break-word;
}

.form .info {
  font-size: 14px;
  max-width: 400px;
}

.form .instructionTop button {
  background: transparent;
  outline: none;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.form .instructionTop button i {
  color: var(--primary);
}

.form .instructionImage {
  position: relative;
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
}

.form .instructionImage img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.form .instructionImage button {
  position: absolute;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 5px;
  cursor: pointer;
}

.form .instructionImage button i {
  font-size: 2.5rem;
  color: var(--background-secundary);
}

.form .instructionImage .btn-bottom {
  top: 0;
  left: 50%;
}

.form .instructionImage .btn-top {
  bottom: 0;
  left: 50%;
}

hr {
  margin: 20px 0;
  padding: 0;
  max-width: 400px;
  width: 100%;
  background-color: var(--text-color-bold-transparent);
}

.form .groupInput {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
}

.form .groupInputSelet {
  width: 100%;
  margin: 7px 10px;
}

.form .groupInputSelet button {
  width: 100%;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.form .groupInputSelet .btn-color-primary {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--primary);
}

.form .groupInputSelet .btn-color-secundary {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--secundary);
}

.form .groupInputSelet .btn-outline-secundary {
  border: 2px solid var(--secundary);
  background-color: transparent;
  color: var(--secundary);
}

.form .groupInputSelet .btn-primary {
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: var(--background-secundary);
}

.form .groupInputSelet select {
  width: 100%;
  padding: 5px;
  border: 2px solid var(--secundary);
  color: var(--text-color-bold);
  background-color: var(--background-secundary);
  outline: none;
  border-radius: 10px;
}

.form p {
}

.form label {
}

.form label {
  width: 100%;
  display: block;
  color: var(--text-color-bold);
}

.form input:disabled {
  background: var(--background-primary);
  color: var();
}

.form input,
.form textarea
{
  width: 100%;
  padding: 5px;
  border: 2px solid var(--secundary);
  color: var(--text-color-bold);
  background-color: var(--background-secundary);
  outline: none;
  border-radius: 10px;
  resize: none;
}


.form button {
}

.form button:hover {

}

.form a {
}

.form a:hover {
}

.customFileUpload {
  display: block;
  cursor: pointer;
}

.customFileUpload  input[type="file"] {
  display: none;
}

.customFileUpload i {
  display: block;
  cursor: pointer;
  font-size: 1.3rem;
}

.customFileUpload img {
  width: 700px;
}
/* Fim do formulario */
